{% include header.html %}
<main class="container-fluid h-100">
    <div class="row">
        {% include sidebar.html %}
        <div id="content" class="col-9 offset-3" style="margin-top:20px;">
            <div class="col-12 ml-5">
                <div class="sub-nav">
                    <!-- <a href="/" class="active" >Go Home</a> -->
                </div>
                {{ content }} 
                <div class="footer text-center">
                    <!-- © 2018-2019 Oğuzcan Demircan All Rights Reserved  -->
                </div>
            </div>
        </div>
    </div>
</main>
{% include footer.html %}