---
layout: default
comments: true
---
<article class="post-detail mt-4" id="article">
    <h2>{{ page.title }}</h2>
    <span class="time" id="time">
        <i class="far fa-clock"></i>
    </span>
    <p class="content">
        <img src="{{ page.image }}" alt="{{ page.title }}" />
        {{ page.content }}
    </p>
    <div class="tags">
        <ul>
            {% for tag in page.tags %}
            <li><a href="{{ site.url }}/tags#{{ tag }}" title="{{ tag }}"><span>{{ tag }}</span></a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="date">
        <span title="{{ page.date | date: '%d/%m/%Y' }}">
            {{ page.date | date: "%-d" }}
            {% assign m = page.date | date: "%-m" | minus: 0 %}
            {{ site.data.locale.tr.date.month_names[m] }}
            {{ page.date | date: "%Y" }}
        </span>
    </div>
    <hr>
    <div class="disqus-comments"> {% include disqus.html %} </div>
</article>

<script>
function readTime(source, target){
    var text = document.getElementById(source).innerText;
    var minutes = Math.floor(text.split(' ').length / 150 )
    if(minutes === 0) {
        minutes = 1
    }
    document.getElementById(target).innerHTML = minutes + " dk okuma süresi"
}
readTime('article', 'time');
</script>